.main-blog-summary, .frame-blog-author, body {
  font-family: 'tp-sans' !important;
}
h1, h2, h3, h4, h5, h6, .main-blog-title {
  font-family: 'rsu' !important;
}
body {
  font-size: 20px;
  line-height: 1.8;
}
.template-header-blog {
  margin-top: $margin-top-one;
}
.frame-blog-content {
    margin-bottom:  $margin-bottom-one;
}
.frame-blog-content-detail {
  padding: $padding-all-not-top-one;
}
.frame-blog-content img {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  border: 1px solid #e1e1e1;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.headroom-wrapper {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
}
.main-blog-summary a{
  color: $color-a-tag-one;
}
.post-info-tag-a{
    padding: 15px;
    border: 1px solid #d9d9d9;
    margin-right: 20px;
}
.post-info {
  margin-top: $margin-top-two;
}
.footer-template {
  color: #999;
  font-size: 0.75rem;
  text-align: right;
  margin-right: 150px;
}
.frame-blog-author {
  font-style: italic;
  font-family: 'Winterthur' Sans Serif;
  color: #9E9E9E;
  margin-top: 20px;
}
.frame-sample-post {
  border: 2px solid #f09340;
}
.recent-posts-title h3 {
  padding: 10px 0;
  font-weight: 100;
  font-family: sans-serif;
}
.load-recent-posts-header img {
  margin-bottom: 0;
}
.load-recent-posts {
  padding: 5px;
}
.load-recent-posts-body {
  font-weight: 700;

}
.load-recent-posts a {
  color: #333;
}
.load-recent-posts a:hover, .load-recent-posts-body:hover {
  color: #ef9340;
  transition-delay: 0.1s;
}

.md-page-header-title, .md-post-header-title {
  font-size: 45px;
  width: 100%;
  text-align: center;
}
.frame-blog-content-detail .post-info a:hover {
  color: #fff;
  background: #333;
  transition-delay: 0.1s;
}
a-code {
  // color: #3366b7;
  color: #f48024;
  font-weight: 400;
}
.navbar-brand:hover {
  color: #fff !important;
}
.navbar-brand {
  font-weight: 700;
}
@media (max-width: 750px) {

}

@font-face {
  font-family: 'Winterthur';
  src: url('/font/Winterthur/Winterthur.eot'); /* IE9 Compat Modes */
  src: url('/font/Winterthur/Winterthur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/Winterthur/Winterthur.woff2') format('woff2'), /* Super Modern Browsers */
       url('/font/Winterthur/Winterthur.woff') format('woff'), /* Pretty Modern Browsers */
       url('/font/Winterthur/Winterthur.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/font/Winterthur/Winterthur.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'rsu';
  src: url('/font/rsu/RSU_Regular.ttf'); /* IE9 Compat Modes */
  // src: url('/font/Winterthur/Winterthur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //      url('/font/Winterthur/Winterthur.woff2') format('woff2'), /* Super Modern Browsers */
  //      url('/font/Winterthur/Winterthur.woff') format('woff'), /* Pretty Modern Browsers */
  //      url('/font/Winterthur/Winterthur.ttf')  format('truetype'), /* Safari, Android, iOS */
  //      url('/font/Winterthur/Winterthur.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'tp-sans';
  src: url('/font/TP-Sans/PTC55F.ttf'); /* IE9 Compat Modes */
  // src: url('/font/Winterthur/Winterthur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //      url('/font/Winterthur/Winterthur.woff2') format('woff2'), /* Super Modern Browsers */
  //      url('/font/Winterthur/Winterthur.woff') format('woff'), /* Pretty Modern Browsers */
  //      url('/font/Winterthur/Winterthur.ttf')  format('truetype'), /* Safari, Android, iOS */
  //      url('/font/Winterthur/Winterthur.svg#svgFontName') format('svg'); /* Legacy iOS */
}
