$nav-bar-top-color: #fff;
$nav-bar-top-background: #333;
//
//margin
$margin-top-one: 50px;
$margin-top-two: 30px;
$margin-bottom-one: 50px;
//padding
$padding-all-not-top-one: 0 0 50px 0;
//
//color a tag
$color-a-tag-one: #333;
//title header
$title-header-h4: center;
//title font size



