$nav-bar-top-color: #fff;
$nav-bar-top-background: #000;
//
//margin
$margin-top-one: 50px;
$margin-top-two: 30px;
$margin-bottom-one: 50px;
//padding
$padding-all-not-top-one: 0 50px 50px;
//
//color a tag
$color-a-tag-one: #333;

